.section--handmade{
	padding-top: 40px;

	.items-wrapper{
		@include transition(margin 1s ease);
		position: relative;
		margin-bottom: 0;

		@include brk($max: $screen-phone) {
			overflow: hidden;
		};

	
		.before, .after{
			@include backface-visibility(hidden);
			width: 0;
			height: 100%;
 			position: absolute;
			z-index: 2;
			padding: 0;
			top: 0;


			@include brk($min: $screen-phone, $max: $screen-tablet) {
				margin-top: -30px;
			};

			@include brk($max: $screen-phone) {
				display: none;
			};


			&:before{
				display: block;
				content: '';
				position: absolute;
				top: 0;
			}
		}

		.before{
			left:-20px;

			@include brk($max: $screen-desktop) {
				left: 0;
			};


			&:before{
				@include sprite($sh-l);
				right: -$sh-l-width;
			}
		}

		.after{
			right: -20px;

			@include brk($max: $screen-desktop) {
				right: 0;
			};

			
			&:before{
				@include sprite($sh-r);
				left: -$sh-r-width;
			}
		}
	}


	.more-row{
		padding-top: 15px;
		position: relative;
		display: none;

		@include brk($max: $screen-phone) {
			display: block;
		};

		&:before{
			display: block;
			content: '';
			width: 100%;
			height: image-height('sh-b.png');
			background:  image-url('sh-b.png') center 0 no-repeat;
			position: absolute;
			left: 0;
			top: -(image-height('sh-b.png')) + 2px;
			z-index: 2;
		}
	}
	
}

.carousel-handmade{
	position: relative;
	margin: 52px -20px 0;

	@include brk($max: $screen-desktop) {
		margin-left: 0;
		margin-right: 0;
	};

	@include brk($max: $screen-phone) {
		margin-left: -4%;
		margin-right: 0;
		margin-top: 0;
		font-size: 0;
	};






	.item{
		display: inline-block;
		vertical-align: top;

		.a{
			@extend %borderFadeIn;
			display: block;
			position: relative;
		}

		a{
			cursor: pointer;
		}

		@include brk($max: $screen-phone) {
			width: 46%;
			margin-left: 4%;
			padding: 3px;
			margin-bottom: 4%;

			img{
				width: 100%;
			}
		};
	}

	.owl-item {
		padding: 3px 0;
		text-align: center;
	}
	.owl-nav{
		position: static;


		.owl-prev, .owl-next{
			@extend [class*="font-icon"];
			@include transition(color $base-transition-timing ease);
			display: block;
			position: absolute;
			top: 0;
			color: #576e88;
			font-size: 12px;
			line-height: 0;
			cursor: pointer;
			height: 100%;
			width: 100px;
			text-align: center;

			&:hover{
				color: #fff;
			}

			&.disabled{
				display: none;
			}

			&:before{
				@include translate3d(0,-50%, 0);
				display: inline-block;
				vertical-align: top;
				position: relative;
				top: 50%;
				line-height: 50px;
				width: 25px;
			}

		}

		.owl-prev{
			@extend .icon-left-open;
			left: -83px;
		}

		.owl-next{
			@extend .icon-right-open;
			right: -83px;
		}

	}


}