.section--frames{
	position: relative;
	padding-top: 45px;
	margin-bottom: 54px;

	@include brk($max: $screen-phone) {

		margin-bottom: 0;

		.more-row{
			display: none;
		}
	};

	.items{
		padding: 3px;
		margin: 33px -3px 19px;

		@include brk($max: $screen-phone - 2) {
			margin-bottom: 0;
			padding: 0;
			margin-left: -10px;
			margin-right: -10px;
		};

	}
}

.frames{
	margin: 0 0 0 -2%;
	font-size: 0;

	@include brk($max: $screen-phone - 2) {
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 0;
	};


	&__item{
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 23%;
		margin: 0 0 2% 2%;

		@include brk($max: $screen-tablet) {
			width: 31.3%;
		};

		@include brk($max: $screen-phone - 2) {
			width: 100%;
			margin-left: 0;
			margin-bottom: 0;
		};


		.a{
			@extend %borderFadeIn;
			@extend %scaleAnimated;
			position: relative;
			cursor: pointer;

		}
	}


	.owl-nav{
		position: static;


		&.disabled{
			display: none;
		}


		.owl-prev, .owl-next{
			@extend [class*="font-icon"];
			@include transition(color $base-transition-timing ease);
			display: block;
			position: absolute;
			top: 0;
			color: rgba(#fff, .7);
			font-size: 12px;
			cursor: pointer;
			z-index: 2;
			height: 100%;
			width: 100px;
			text-align: center;
			line-height: 0;

			&:hover{
				color: #fff;
			}

			&.disabled{
				display: none;
			}

			&:before{
				@include translate3d(0,-50%,0);
				position: relative;
				display: inline-block;
				top: 50%;
				line-height: 50px;
				width: 25px;
				margin-top: -10px;
			}

			@include brk($max: $screen-tablet) {
				width: auto;
				padding: 0 10px;
			};

		}

		.owl-prev{
			@extend .icon-left-open;
			left: 0;

			@include brk($max: $screen-tablet) {
				left: 15px;
			};


		}

		.owl-next{
			@extend .icon-right-open;
			right: 0;

			@include brk($max: $screen-tablet) {
				right: 20px;
			};


		}

	}


}