.section--about{
	position: relative;
	min-height: 852px;
	padding-top: 39px;

	@include brk($max: $screen-tablet) {
		font-size: 14px;
		min-height: 1px;
	};


	.illustration{
		position: absolute;
		right: 0;
		bottom: 0;
		max-height: 100%;

		@include brk($max: $screen-desktop) {
			width: 520px;
			right: -80px;
		};

		@include brk($max: $screen-tablet + 5) {
			width: 400px;
			right: -100px;
		};
	}

	.from{
		margin: 37px 0 35px;

		@include brk($max: $screen-tablet) {
			text-align: center;
		};

		@include brk($max: $screen-phone) {
			display: none;
		};
	}

	.list{
		list-style-type: none;
		margin: 0 0 24px;
		padding: 0;

		@include brk($max: $screen-tablet) {
			text-align: center;
		};

		@include brk($max: $screen-phone) {
			display: none;
		};


		&__item{
			display: block;
			margin: 0 0 3px;
			overflow: hidden;
			font-size: 0;
		}

		&__left{
			display: inline-block;
			vertical-align: top;
			width: 24%;
			color: #878787;
			font-size: $font-size-base;

			@include brk($max: $screen-tablet) {
				text-align: right;
				width: 50%;
				padding-right: 2%;
			};

		}

		&__right{
			display: inline-block;
			vertical-align: top;
			width: 76%;
			padding-left: 1%;
			font-size: $font-size-base;

			@include brk($max: $screen-tablet) {
				text-align: left;
				width: 50%;
			};

		}
	}

	.btn-row{
		margin-left: -9px;

		@include brk($max: $screen-tablet) {
			text-align: center;
			margin-bottom: 20px;
			margin-left: 0;
		};

	}
}