.section--app{
	background: #4173a0 image-url('app-bgr.jpg') center 0 no-repeat;
	background-size: cover;
	padding: 56px 0 75px;
	text-align: center;


	.person{
		position: absolute;
	    bottom: -111px;
	    right: -137px;
	}
	
	.top-logos{

		margin-bottom: 34px;
		
		.app-logo, .app-title{
			display: inline-block;
			vertical-align: top;
		}

		.app-logo{
			width: 88px;
			height: 88px;
			margin-top: 19px;
			margin-right: 7px;
			overflow: hidden;
			border-radius: 10px;
			box-shadow: 0 4px 15px rgba(#000, .3);
		}

		.app-title{
			width: 177px;
			margin-left: 7px;
		}
	}

	.text{
		color: #fff;
		max-width: 625px;
		margin: 0 auto 39px;
	}

	.links{
		font-size: 0;
		
		.link{
			
			@include transition(opacity $base-transition-timing ease);
			display: inline-block;
			vertical-align: top;
			width: 124px;
			margin: 0 10px;
			opacity: 1;

			&:hover{
				opacity: .8;
			}

			&.ios{
				.AndroidOS &{
					display: none;
				}
				
			}
			&.android{
				.iOS &{
					display: none;
				}
				
			}

		}
	}
}