.section--heroes{
 	background: #082545;
 	padding: 0;
 	position: relative;

 	.section-title{
 		position: absolute;
 		left: 0;
 		top: 40px;
 		width: 100%;
 		text-align: center;
 		z-index: 2;

		@include brk($max: $screen-tablet) {
			display: none;
		};


 	}
}


.carousel-heroes{
	position: relative;
	overflow: hidden;
	
	.item{
		position: relative;
		overflow: hidden;

		@include brk($max: 667px) {
			overflow: hidden;
		};


 		.context{
			min-height: 536px;

 			@include brk($max: $screen-desktop) {
				font-size: 14px;
				min-height: 420px;
 			};

 			@include brk($max: 667px) {
				font-size: 13px;
				min-height: 182px;
 			};

 		}

 		.valign{
 			@include translate3d(0, -50%, 0);
 			position: absolute;
 			left: 11px;
 			top: 50%;
 			z-index: 2;
 			max-width: 58%;

 			@include brk($max: $screen-tablet) {

				br{
					display: none;
				}


				&.rmbr{
					
					width: 53%;
					padding: 40px 0 0 0;
				}

 			};


 			@include brk($max: 667px) {
				display: none;

				h3{
					font-size: 20px;
				}

 			};

 		}


 		.hero{
 			position: absolute;
 			right: -475px;
 			height: 100%;
 			top: 0;

 			img{
 				max-height: 100%;
 			}

 			@include brk($max: $screen-desktop) {
				right: -400px;
 			};


 			@include brk($max: 667px) {
				display: none;
 			};

 		}

 		.hero-small{
 			position: absolute;
 			top: 0;
 			left: -80px;
 			height: 100%;
 			width: 100%;
 			display: none;

 			img{
 				max-height: 100%;
 			}


 			@include brk($max: 667px) {
				display: block;
 			};
 		}

 		.sm-title{
 			@include translate3d(0, -50%, 0);
 			text-transform: uppercase;
 			font-weight: 800;
 			font-size: 30px;
 			position: absolute;
 			top: 50%;
 			right: 20px;
 			max-width: 50%;
 			display: none;
 			text-align: right;
 			z-index: 2;

 			@include brk($max: 667px) {
				display: block;
				font-size: 30px;
 			};

 		}
	}

	.owl-nav{
		@extend .container;
		position: absolute;
		height: 0;
		top: 50%;
		left: 50%;
		z-index: 10;
		
		@include brk($max: $screen-tablet) {
			display: none;
		};

		@include brk($min: $screen-tablet) {
			margin-left: -(750px)/2;
		};
				
		@include brk($min: $screen-desktop) {
			margin-left: -(970px)/2;
		};

		@include brk($min: 1200px) {
			margin-left: -(920px + $grid-gutter-width*2)/2;
		};


		&.disabled{
			display: none;
		}


		.owl-prev, .owl-next{
			@extend [class*="font-icon"];
			@include transition(color $base-transition-timing ease);
			@include translate3d(0,-50%,0);
			display: block;
			position: absolute;
			top: 50%;
			color: #576e88;
			font-size: 12px;
			line-height: 0;
			cursor: pointer;
			height: 300px;
			width: 100px;
			text-align: center;

			&:hover{
				color: #fff;
			}

			&:before{
				@include translate3d(0,-50%,0);
				position: relative;
				top: 50%;
			}

			&.disabled{
				display: none;
			}

		}

		.owl-prev{
			@extend .icon-left-open;
			left: -96px;
		}

		.owl-next{
			@extend .icon-right-open;
			right: -96px;
		}

	}

	.owl-dots{
		text-align: center;
		position: absolute;
		left: 0;
		bottom: 64px;
		width: 100%;
		z-index: 10;

		@include brk($max: $screen-desktop) {
			bottom: 20px;
		};
		@include brk($max: $screen-tablet) {
			bottom: 0;
		};

		.owl-dot{
			margin: 0;
			cursor: pointer;
			display: inline-block;
			vertical-align: top;
			padding: 10px 5px;

			&:first-child{
				padding-left: 10px;
			}

			&:last-child{
				padding-right: 10px;
			}

			&.active, &:hover{
				span{
					background: #fff;
				}
			}

			span{
				@include transition(background $base-transition-timing ease);
				display: block;
				width: 10px;
				height: 10px;
				background: #8492a2;
				border-radius: 100%;				
			}
		}
	}
}