.section--concurs{
	background:  image-url('cbg.jpg') center 0 repeat;
	padding-top: 68px;
	min-height: image-height('cbg.jpg');
	padding-bottom: 30px;

	.t-img{
		margin: 2px 5px 6px 0;
	}


	.sm-img{
		display: none;
		margin: 0 auto;
		width: 180px;
	}

	.p-l{
		position: absolute;
	    left: -77px;
	    top: -26px;
	}

	.p-r{
		position: absolute;
	    right: -96px;
	    top: -26px;
	}


	.concurs-title{
		font-weight: 800;
		font-size: 20px;
		margin-bottom: 62px;

		.f{
		}

		.s{
			font-size: 30px;
			text-transform: uppercase;
			margin: 5px 0 3px 0;
		}

		.th{
			color: #4bb5ea;
			margin-left: 4px;
		}
	}

	.text{
		color: #fff;
		color: rgba(#fff, .6);
		font-size: 19px;
		font-weight: 300;
		font-family: $roboto;
		margin-bottom: 27px;
	}
 
}