.section--trailers{
	position: relative;
	padding-top: 40px;

	.items {
		margin: 36px 0 13px;
	}

	// .more-row{
	// 	@include brk($max: $screen-phone) {
	// 		display: none;
	// 	};
	// }
}

.trailers{
	margin: 0 0 0 -2%;
	font-size: 0;

	@include brk($max: $screen-phone) {
		margin-left: 0;
	};
	


	&__item{
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 48%;
		margin: 0 0 2% 2%;

		@include brk($max: $screen-phone) {
			width: 100%;
			margin-left: 0;
		};


		.inner{
			position: relative;
			height: 0;
			padding-top: 56.06%;
		}


		.placeholder, .video-object{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		.a{
			cursor: pointer;
			&:hover{
				.poligon{
					fill:#fff;
				}
			}
		}

		.play{
			display: block;
			width: 55px;
			height: 61px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -30px 0 0 -24px;
			z-index: 2;

			.poligon{
				@include transition(fill $base-transition-timing ease);
				fill: rgba(#fff, .5);
				cursor: pointer;

				&:hover{
					fill: #fff;
				}
			}
		}
	}
}