.popup{
	@include transition(opacity $base-transition-timing ease);
	@include translate3d(-50%, -50%, 0);
	position: fixed;
	left: 50%;
	top: 50%;
	width: 100%;
	max-width: 90%;
	padding: 0;
	z-index: 10001;
	opacity: 0;
	visibility: hidden;


	@include brk($min: $screen-lg) {
		max-width: 940px;
	};


	@include brk($max: $screen-tablet) {

		@media screen and (orientation:landscape) { 
		 	
		 	max-width: 80%;
		}
	
	};


	&.show{
		opacity: 1;
		visibility: visible;

		& ~ .overlay{
			opacity: 1;
			visibility: visible;
		}
	}

	.screen-area{
		max-width: 940px;
		margin: 0 auto;
	}

	.close{
		@include transition(color $base-transition-timing ease);
		position: absolute;
		color: #4e5054;
		font-size: 30px;
		right: -43px;
		top: -57px;
		cursor: pointer;

		&:hover{
			color: #fff;
		}


		@include brk($max: 940 + 124px) {
			right: 0;

			@media screen and (orientation:landscape) { 
				top: -12px;
				right: -33px;
			}
		};


		@include brk($max: $screen-tablet) {

			@media screen and (orientation:landscape) { 
			 	
			 	right: -33px;
			 	top: -12px;
			 	z-index: 20;
			}
		
		};

	}

	.screens, .trailer-area{
		margin-bottom: 7px;
		box-shadow: 0 0 25px rgba(#0e81b2, .7);
		background: #000;
		width: 100%;
		position: relative;

		.item{

			img{
				@include transition(all .3s ease);
			}
		}
	}

	.thumbs{
		margin: 0 -3px;


		// @include brk($max: $screen-tablet) {

		// 	@media screen and (orientation:landscape) { 
		// 		display: none;
		// 	}
		
		// };

		@include brk($max: $screen-phone) {
			display: none;		
		};

		.owl-item{
			padding: 3px;

			&.center{
				.item{
					@extend %scaleAnimated;
					box-shadow: 0 0 0 3px #80ccf2;
				}
			}
		}

		.item{
			@include transition(all .3s ease);
			@extend %scaleAnimated;
			cursor: pointer;
			position: relative;

			body:not(.mobile) &{

				&:hover{
					box-shadow: 0 0 0 3px #80ccf2, 0 0 0 3px #80ccf2;
				}
			}

			&.active{
				box-shadow: 0 0 0 3px #80ccf2, 0 0 0 3px #80ccf2;
			}

		}

		.owl-nav{
			display: none;
		}
	}


	.owl-nav{
		position: static;


		&.disabled{
			display: none;
		}


		.owl-prev, .owl-next{
			@extend [class*="font-icon"];
			@include transition(color $base-transition-timing ease);
			@include translate3d(0,-50%,0);
			display: block;
			position: absolute;
			top: 50%;
			color: rgba(#fff, .7);
			font-size: 12px;
			cursor: pointer;
			z-index: 2;
			max-height: 300px;
			height: 100%;
			width: 100px;
			text-align: center;

			&:hover{
				color: #fff;
			}

			&.disabled{
				display: none;
			}

			&:before{
				@include translate3d(0,-50%,0);
				line-height: 1;
				position: relative;
				top: 50%;
				line-height: 50px;
				width: 25px;
			}

			@include brk($max: $screen-tablet) {
				width: auto;
				padding: 0 10px;
			};

		}

		.owl-prev{
			@extend .icon-left-open;
			left: -116px;

			@include brk($max: 940 + 124px) {
				left: 0;
				z-index: 10;
			};
		}

		.owl-next{
			@extend .icon-right-open;
			right: -116px;

			@include brk($max: 940 + 124px) {
				right: 0;
				z-index: 10;
			};

		}

	}

}

.overlay{
	@include transition(opacity $base-transition-timing ease);
	background: rgba(#000, .8);
	z-index: 1000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
}



.trailer-area{
	position: relative;
	height: 0;
	width: 100%;
	padding-top: 56.25%;

	.trailer{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	} 
}