.carousel, .must-be-carousel{
	position: relative;

	.owl-stage-outer{
		position: relative;
		overflow: hidden;
	}

	.owl-stage{
		position: relative;
		overflow: hidden;
	}

	.owl-item{
		float: left;
	}

	.owl-nav, .owl-dots{
			@include user-select(none);
	}
}