// @import "https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic";
// @import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic";
// @import "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,cyrillic";

@font-face {
  font-family: 'icons';
  src: font-url('icons.eot?58391975');
  src: font-url('icons.eot?58391975#iefix') format('embedded-opentype'),
       font-url('icons.woff?58391975') format('woff'),
       font-url('icons.ttf?58391975') format('truetype'),
       font-url('icons.svg?58391975#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
