body{
	color: $text-color;
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

p{
	line-height: 1.5;
	margin: 0 0 23px;
}

#{headings()}{
	color: #ccc;
	text-transform: uppercase;
	font-weight: 800;
}

h2{
	font-size: 30px;
	margin-bottom: 30px;

	@include brk($max: $screen-tablet) {
		font-size: 20px;
	};
}

h3{
	text-transform: none;
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 7px;
}