*{
	@include box-sizing(border-box);
	
	&:before, &:after{
		@include box-sizing(border-box);
	}
}

.global{
	padding: 50px 0 0 0;
	max-width: 100%;
	overflow: hidden;

	@include brk($max: $screen-tablet - 2) {
		padding: 0;
	};

}

.img{
	
	&--responsive{
		max-width: 100%;
	}

	&--full-width{
		width: 100%;
	}

	&--block{
		display: block;
	}

	&--inline{
		display: inline-block;
	}
}

.align{
	&--right{
		text-align: right;
	}

	&--left{
		text-align: left;
	}

	&--center{
		text-align: center;
	}
}

.relative{
	position: relative;
}

.hide{
	display: none;
}



.overflow-items{
	overflow: hidden;
}


%borderFadeIn{
	@include transition(all $base-transition-timing*1.4 ease-in);
	position: relative;

	body:not(.mobile) &{

		&:hover{
			@include transition(all $base-transition-timing*1.4 ease-out);
			box-shadow: 0 0 0 3px #80ccf2, 0 0 0 3px #80ccf2;
		}
	}

}

.particles-js{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.rz{
	position: relative;
	z-index: 2;
}

.more-row{
	@include user-select(none);
	text-align: center;

	.show-more{
		@include user-select(none);
		@include transition(all $base-transition-timing ease);
		cursor: pointer;
		color: #fff;
		font-size: 17px;

		&:hover{
			color: #80ccf2;
	
			.text{
				border-color: transparent;
			}
		}

	}

	.text{
		@include transition(all $base-transition-timing ease);
		display: inline-block;
		vertical-align: top;
		border-bottom: 1px dashed #ccc;
		line-height: 1.1;
		letter-spacing: -.4px;
	}

	.icon{
		@extend [class*="font-icon"];
		display: inline-block;
		vertical-align: top;
		margin: -2px 0 0 5px;

		&.down{
			@extend .icon-down-open;
		}
		&.up{
			@extend .icon-up-open;
		}
	}
}




%scaleAnimatedState{
	@include backface-visibility(hidden);
	overflow: hidden;

	img{
		@include transition(all $base-transition-timing*1.5 ease-out);
		@include transform(scale(1.2));
	}

}


@include brk($min: $screen-tablet) {
	%scaleAnimated{
		@include backface-visibility(hidden);
		overflow: hidden;

		img{
			@include transition(all $base-transition-timing*2.2 ease-out);
			@include transform(scale(1));
		}

		&:hover{
			img{
				@include transition(all $base-transition-timing*2.2 ease-in);
				@include transform(scale(1.3));
			}
		}
	}
};
