<footer class="footer">
	<div class="container">
		<svg class="dsn-logo" xmlns="http://www.w3.org/2000/svg" width="70" height="30" viewBox="0 0 594 244.8">
			<use xlink:href="#dsn-logo"></use>
		</svg>
		<div class="foo-nav">
			<ul>
				<li><a href="http://movies.disney.ru/">Фильмы</a></li>
				<li><a href="http://personagi.disney.ru/">Персонажи</a></li>
				<li><a href="http://games.disney.ru/">Игры</a></li>
				<li><a href="http://waltdisney.ru/">О Disney</a></li>
			</ul>
		</div>
		<div class="copy">
			<p>© Disney. Все права защищены.</p>
			<p>12+ Информационная продукция, опубликованная на данном сайте, предназначена для аудитории, от 12 лет, если иное не указано дополнительно в отношении отдельных материалов</p>
		</div>
		<div class="foo-socials">
			<a href="http://facebook.com/disneyrussia" class="font-icon icon-facebook"></a>
			<a href="http://twitter.com/disneyrussia" class="font-icon icon-twitter"></a>
			<a href="http://ok.ru/disney" class="font-icon icon-odnoklassniki"></a>
			<a href="http://youtube.com/user/WaltDisneyStudiosRU" class="font-icon icon-youtube-play"></a>
			<a href="http://instagram.com/disneyrussia" class="font-icon icon-instagram"></a>
		</div>
	</div>
</footer>