<div class="carousels-popup popup" id="frames-popup">
	<div class="screen-area relative">
		<div class="js-close font-icon icon-close close"></div>
		<div 
			data-string="Dinosaur Still"
			data-plugin-options='{"items":1, "loop": false, "nav": true, "mouseDrag": false, "margin":0}'
			data-responsive-options='{"0": {"items": 1}, "480": {"items": 1}, "768": {"items": 1}, "992": {"items": 1}, "1024": {"items": 1}}'
			id="screens" 
			class="carousel screens keycontrol">
			<div class="item"><img alt="" src="assets/Good-Dinosaur_Movie-still_3.jpg" class="img--block img--responsive"></div>
			<div class="item"><img alt="" src="assets/Good-Dinosaur_Movie-still_4.jpg" class="img--block img--responsive"></div>
			<div class="item"><img alt="" src="assets/Good-Dinosaur_Movie-still_5.jpg" class="img--block img--responsive"></div>
			<div class="item"><img alt="" src="assets/Good-Dinosaur_Movie-still_6.jpg" class="img--block img--responsive"></div>
			<div class="item"><img alt="" src="assets/Good-Dinosaur_Movie-still_7.jpg" class="img--block img--responsive"></div>
			<div class="item"><img alt="" src="assets/Good-Dinosaur_Movie-still_8.jpg" class="img--block img--responsive"></div>
			<div class="item"><img alt="" src="assets/Good-Dinosaur_Movie-still_9.jpg" class="img--block img--responsive"></div>
			<div class="item"><img alt="" src="assets/Good-Dinosaur_Movie-still_11.jpg" class="img--block img--responsive"></div>
			<div class="item"><img alt="" src="assets/Good-Dinosaur_Movie-still_12.jpg" class="img--block img--responsive"></div>
			<div class="item"><img alt="" src="assets/Good-Dinosaur_Movie-still_13.jpg" class="img--block img--responsive"></div>
		</div>
		<div
			data-plugin-options='{"items":5, "loop": false, "center": false, "nav": true, "mouseDrag": false, "margin":6}' 
			data-responsive-options='{"0": {"items": 2}, "480": {"items": 3}, "768": {"items": 4}, "992": {"items": 5}, "1024": {"items": 5}}' 
			id="thumbs" 
			class="carousel thumbs">
			<div class="item" data-carousel="#screens" data-thumb="1"><img src="assets/Good-Dinosaur_Movie-still_3-prev.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="2"><img src="assets/Good-Dinosaur_Movie-still_4-prev.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="3"><img src="assets/Good-Dinosaur_Movie-still_5-prev.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="4"><img src="assets/Good-Dinosaur_Movie-still_6-prev.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="5"><img src="assets/Good-Dinosaur_Movie-still_7-prev.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="6"><img src="assets/Good-Dinosaur_Movie-still_8-prev.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="7"><img src="assets/Good-Dinosaur_Movie-still_9-prev.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="8"><img src="assets/Good-Dinosaur_Movie-still_11-prev.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="9"><img src="assets/Good-Dinosaur_Movie-still_12-prev.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="10"><img src="assets/Good-Dinosaur_Movie-still_13-prev.jpg" alt="" class="img--block img--full-width"></div>
		</div>
	</div>
</div>