<header class="header visible-sm visible-md visible-lg">
	<div class="container">
		<div class="row">
			<div id="nav" class="col-sm-10">
				<div class="follow-logo">
					<a href="#index"><img src="images/dino-logo.svg" alt="Хороший Динозавр" class="img--responsive"></a>
				</div>
				<nav class="nav">
					<ul  class="nav__list">
						<li class="nav__item"><a href="#about">О фильме</a></li>
						<li class="nav__item"><a href="#heroes">Герои</a></li>
						<li class="nav__item"><a href="#trailers">Трейлеры</a></li>
						<li class="nav__item"><a href="#frames">Кадры</a></li>
						<li class="nav__item"><a href="#concurs">Конкурс</a></li>
						<li class="nav__item"><a href="#handmade">Поделки</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-2">
				<div class="socials align--right">
					<div class="share__init" data-url="http://dinosaur.disney.ru/" data-title="Узнайте всё о новом анимационном фильме Disney/Pixar «Хороший динозавр»!"></div>
				</div>
			</div>
		</div>
	</div>
</header>