<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter22462183 = new Ya.Metrika({
                    id:22462183,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/22462183" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<script src="js/libs.js"></script>
<script>
	$(function(){
		var Preview;
		Preview = (function() {
		  function Preview() {
		    this.state = null;
		  }
		  Preview.prototype.set = function(param) {
		    this.state = param;
		    addAttrbites(param);
		  };
		  var addAttrbites = function(v) {
		    $('body').attr('data-view', v).data('view', v);
		  };
		  return Preview;
		})();

		window.preview = new Preview();

		window.preview.set('video')
	});
</script>
<script charset="ISO-8859-1" src="http://fast.wistia.com/assets/external/E-v1.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="js/main.js"></script>
<script src="//cdn.optimizely.com/js/3733034947.js"></script>

<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
var _tmr = window._tmr || (window._tmr = []);
_tmr.push({id: "2710663", type: "pageView", start: (new Date()).getTime()});
(function (d, w, id) {
  if (d.getElementById(id)) return;
  var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
  ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
  var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
  if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window, "topmailru-code");
</script><noscript><div style="position:absolute;left:-10000px;">
<img src="//top-fwz1.mail.ru/counter?id=2710663;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<img src="http://amnetru.solution.weborama.fr/fcgi-bin/dispatch.fcgi?a.A=co&a.si=679&a.cp=12">  
<!-- //Rating@Mail.ru counter -->


<!-- BEGIN WDIG Web Analytics 1.0 -->
<!-- <script type="text/javascript" src="//analytics.disneyinternational.com/analytics/wdigWebAnalytics.js"></script> -->
<script type="text/javascript">
    // cto = new CTO();
    // cto.track();//Required. Do not remove.
</script> 
<!-- END WDIG Web Analytics 1.0 -->