<h2 class="section-title align--center">Герои</h2>
<div id="carousel-heroes" class="carousel carousel-heroes keycontrol sendanalytics" data-string="Dinosaur Heroes Slot" data-plugin-options='{"items":1, "loop": true, "nav": true, "mouseDrag": false, "margin":0}'>
	<div class="item">
		<div class="container context relative">
			<div class="valign">
				<h3>Бур</h3>
				<p>Бывалый и грозный тираннозавр. О том, через что ему довелось пройти, наглядно говорит рассекающий его морду шрам. Этот прирожденный пастух добился невероятных успехов в разведении крупного рогатого скота. Теперь он передает опыт своим отпрыскам Рамзи и Нэшу, готовя для них одно испытание за другим. Больше всего Бур любит после утомительного дня усесться перед костром и рассказывать благодарным слушателям истории из своего бур-ного прошлого.</p>
			</div>
			<h3 class="sm-title">Бур</h3>
			<div class="hero"><img src="assets/heroes/8.jpg" alt=""></div>
			<div class="hero-small"><img src="assets/heroes/8-s.jpg" alt=""></div>
		</div>
	</div>
	<div class="item">
		<div class="container context relative">
			<div class="valign">
				<h3>Рамзи</h3>
				<p>Бесстрашная, находчивая и прагматичная тираннозавриха. <br>Она обожает перегонять скот вместе со своим отцом Буром <br>и братишкой Нэшем. У Рамзи жизнерадостный характер, она очень легка на подъем. Рамзи любит хорошие шутки, страшные истории <br>и всегда готова прийти на выручку тем, кто попал в беду.</p>
			</div>
			<h3 class="sm-title">Рамзи</h3>
			<div class="hero"><img src="assets/heroes/9.jpg" alt=""></div>
			<div class="hero-small"><img src="assets/heroes/9-s.jpg" alt=""></div>
		</div>
	</div>
	<div class="item">
		<div class="container context relative">
			<div class="valign">
				<h3>Нэш</h3>
				<p>Энергичный юный тираннозавр, обожающий приключения <br>и вообще все, что вносит хоть какое-то разнообразие в рутинные будни скотоводов. Он охотно помогает перегонять скот вместе со своим отцом Буром и сестрой Рамзи. Нельзя сказать, <br>что он схватывает все на лету, да и в следах крупного рогатого скота он пока путается. Но эти недостатки с лихвой компенсируются сногсшибательным очарованием и позитивным отношением <br>к жизни.</p>
			</div>
			<h3 class="sm-title">Нэш</h3>
			<div class="hero"><img src="assets/heroes/10.jpg" alt=""></div>
			<div class="hero-small"><img src="assets/heroes/10-s.jpg" alt=""></div>
		</div>
	</div>
	<div class="item">
		<div class="container context relative">
			<div class="valign">
				<h3>Арло</h3>
				<p>Вылупился позже всех в помете, и поэтому он – самый маленький в семье. Одиннадцатилетний бронтозавр пока никак не проявил себя на семейной ферме. Он и хотел бы чем-то помочь своей родне, но никак не может побороть свой страх, а боится он буквально всего на свете. Однажды Арло падает в реку, которая уносит его за много километров от родного дома. Ему предстоит побороть все свои страхи и, набравшись мужества, углубиться в лесные дебри, чтобы попытаться добраться до дома. По пути он познакомится и подружится с мальчиком по имени Дружок, который поможет ему понять, что даже маленький динозаврик способен на многое.</p>
			</div>
			<h3 class="sm-title">Арло</h3>
			<div class="hero"><img src="assets/heroes/1.jpg" alt=""></div>
			<div class="hero-small"><img src="assets/heroes/1-s.jpg" alt=""></div>
		</div>
	</div>
	<div class="item">
		<div class="container context relative">
			<div style="width: 55%;" class="valign">
				<h3>Дружок</h3>
				<p>Дикий, грубый и надоедливый мальчишка, который большую часть жизни провел в одиночестве в лесной глуши. В его словарный запас входят, в основном, рычание и мычание. Но разговоры – вообще не его конек. Сильные качества его характера – бесстрашие, уверенность в себе и способность выживать в любых условиях. Дружек для Арло становится своеобразным талисманом, который помогает бронтозавру в трудной ситуации. Постепенно мальчик и динозаврик <br>становятся друзьями.</p>
			</div>
			<h3 class="sm-title">Дружок</h3>
			<div class="hero"><img src="assets/heroes/2.jpg" alt=""></div>
			<div class="hero-small"><img src="assets/heroes/2-s.jpg" alt=""></div>
		</div>
	</div>
	<div class="item">
		<div class="container context relative">
			<div class="valign">
				<h3>Папа</h3>
				<p>Отважный и самоотверженный ПАПА – преданный муж и отец, без устали работающий на ферме, чтобы прокормить семью. К трусишке Арло, младшему из своих отпрысков, Папа питает теплые чувства и заботится о нем особенно тщательно. Папа верит в то, что со временем Арло изменится. <br>Он не сомневается, что сын сможет побороть юношеские страхи и внести свой вклад в семейное дело.</p>
			</div>
			<h3 class="sm-title">Папа</h3>
			<div class="hero"><img src="assets/heroes/3.jpg" alt=""></div>
			<div class="hero-small"><img src="assets/heroes/3-s.jpg" alt=""></div>
		</div>
	</div>
	<div class="item">
		<div class="container context relative">
			<div class="valign">
				<h3>Мама</h3>
				<p>Любящая жена и мать; она очень умна, находчива и трудолюбива. Мама следит за порядком на ферме и пестует своих ненаглядных чад. <br> На её внутренней силе, скрытой за внешним фасадом, держатся все отношения в семье.</p>
			</div>
			<h3 class="sm-title">Мама</h3>
			<div class="hero"><img src="assets/heroes/4.jpg" alt=""></div>
			<div class="hero-small"><img src="assets/heroes/4-s.jpg" alt=""></div>
		</div>
	</div>
	<div class="item">
		<div class="container context relative">
			<div class="valign">
				<h3>Бакки</h3>
				<p>Брат Арло. Они одногодки, но Бак намного крупнее, сильнее и активнее младшего братишки. Он любит попугать трусливого Арло, ведь тот <br> по наивности переживает из-за любого розыгрыша. Внушительный экстерьер, сила и самоуверенность Бакки позволяют ему делать все, <br> что угодно, даже то, о чем Арло не может и мечтать. Например, Бакки может зубами вырвать дерево из земли.</p>
			</div>
			<h3 class="sm-title">Бакки</h3>
			<div class="hero"><img src="assets/heroes/5.jpg" alt=""></div>
			<div class="hero-small"><img src="assets/heroes/5-s.jpg" alt=""></div>
		</div>
	</div>
	<div class="item">
		<div class="container context relative">
			<div class="valign">
				<h3>Либби</h3>
				<p>Сестренка Арло, одаренная, но своевольная особь. У маленькой проказницы отличное чувство юмора, и она обожает разыгрывать своих родственников.</p>
			</div>
			<h3 class="sm-title">Либби</h3>
			<div class="hero"><img src="assets/heroes/6.jpg" alt=""></div>
			<div class="hero-small"><img src="assets/heroes/6-s.jpg" alt=""></div>
		</div>
	</div>
	<div class="item">
		<div class="container context relative">
			<div style="width: 58%;" class="valign">
				<h3>Ящер-Чащер</h3>
				<p>Таинственный стиракозавр, живущий в чаще леса. Как и у Арло, у Чащера есть свои неподконтрольные страхи. Справиться с фобиями ему помогает способность сливаться с окружающим миром. Кроме того, его охраняет отряд необычных (хотя и не таких страшных) лесных зубастиков.</p>
			</div>
			<h3 class="sm-title">Ящер-Чащер</h3>
			<div class="hero"><img src="assets/heroes/7.jpg" alt=""></div>
			<div class="hero-small"><img src="assets/heroes/7-s.jpg" alt=""></div>
		</div>
	</div>

	<div class="item">
		<div class="container context relative">
			<div class="valign rmbr">
				<h3>Птеродактили</h3>
				<p>Пятерка летающих динозавров, своеобразная служба «спасения» <br> в бескрайних лесах. Они дожидаются смертоносных ураганов, <br>а затем лакомятся теми, кто оказался в эпицентре разрушений. <br> В определенный момент в поле зрения падальщиков попадают Дружок и Арло. Однако стервятников ожидает большой сюрприз.</p>
			</div>
			<h3 class="sm-title" style="
			    transform: translate3d(0,0,0);
			    top: 15px;
			    text-align: center;
			    max-width: 100%;
			    width: 100%;
			    right: 0;
			">Птеродактили</h3>
			<div class="hero"><img src="assets/heroes/11.jpg" alt=""></div>
			<div style="left: 0" class="hero-small"><img style="
			    display: block;
			    position: relative;
			    left: 50%;
			    transform: translate3d(-50%,0,0);" src="assets/heroes/11-s.jpg" alt=""></div>
		</div>
	</div>
	<div class="item">
		<div class="container context relative">
			<div class="valign">
				<h3>Рапторы</h3>
				<p>Угоняют стадо, которое принадлежит Буру и его семье. <br> Бур, привыкший называть все своими именами, окрестил рапторов скотокрадами. У этих хищников - жилистые, оперенные туловища, которые выглядят тщедушно по сравнению с внушительными тушами тираннозавров. Но когда рапторы работают группой, они представляют серьезную угрозу. Настолько серьезную, что даже тираннозавру может понадобиться помощь.</p>
			</div>
			<h3 class="sm-title" style="
			    transform: translate3d(0,0,0);
			    top: 15px;
			">Рапторы</h3>
			<div class="hero"><img src="assets/heroes/12.jpg" alt=""></div>
			<div class="hero-small"><img src="assets/heroes/12-s.jpg" alt=""></div>
		</div>
	</div>
</div>