<div class="section section--app">
	<div class="container relative">
<!-- 		<div class="person visible-lg visible-md">
			<img src="images/app-l-person.png" alt="" class="img--block img--responsive">
		</div> -->
		<div class="top-logos">
			<div class="app-logo"><img src="assets/app.jpg" alt="" class="img--block img--responsive"></div>
			<div class="app-title">
				<img src="images/gtitle.png" alt="" class="img--block img--responsive">
			</div>
		</div>
		<div class="text">
			<p>Помогите Арло и Дружку на их трудном пути домой в новой мобильной игре по мотивам анимационного фильма Disney/Pixar «Хороший Динозавр»</p>
		</div>
		<div class="links">
			<a target="_blank" href="https://control.kochava.com/v1/cpi/click?campaign_id=kothe-good-dinosaur-dino-stampede-ios555f5bd054ab90ad0779a05520&network_id=1668&device_id=device_id&site_id=RU-web-gamecard-111915-RU-RU" class="link ios link-an-send"><img src="assets/store.png" alt="" class="img--block img--responsive"></a>
			<a target="_blank" href="https://control.kochava.com/v1/cpi/click?campaign_id=kothe-good-dinosaur-dino-stampede-google555f5c170b22e1538d5988215e&network_id=1668&device_id=device_id&site_id=RU-web-gamecard-111915-RU-RU" class="link android link-an-send"><img src="assets/gplay.png" alt="" class="img--block img--responsive"></a>
		</div>
	</div>
</div>