<div id="trailers" class="section section--trailers">
	<div class="container ">
 		<h2 class="section-title align--center">Трейлеры</h2>
 		<div data-c="1" id="trailers-items" class="items overflow-items js-max-height">
	 		<div class="trailers">
				<div class="trailers__item etalon">
					<div class="inner">
						<div class="a trailers__item_send" data-index="1" data-popup-target="#trailers-popup" data-src="https://www.youtube.com/embed/4eJF3QGriP0?autoplay=1">
							<svg viewBox="0 0 97 107" class="play">
				            	<use class="poligon" xlink:href="#play"></use>
				            </svg>
							<img src="assets/video-1.jpg" alt="" class="placeholder">
						</div>
					</div>
				</div>
				<div class="trailers__item">
					<div class="inner">
						<div class="a trailers__item_send" data-index="2" data-popup-target="#trailers-popup" data-src="https://www.youtube.com/embed?v=bgggazujDk4&list=PLVb9hgkoeifpJpmOwNNNUKNXDchOU-uKc&index=3&autoplay=1">
							<svg viewBox="0 0 97 107" class="play">
				            	<use class="poligon" xlink:href="#play"></use>
				            </svg>
							<img src="assets/video-3.jpg" alt="" class="placeholder">
						</div>
					</div>
				</div>
				<div class="trailers__item">
					<div class="inner">
						<div class="a trailers__item_send" data-index="3" data-popup-target="#trailers-popup" data-src="https://www.youtube.com/embed?v=Ri7_sDRu5iM&index=2&list=PLVb9hgkoeifpJpmOwNNNUKNXDchOU-uKc&autoplay=1">
							<svg viewBox="0 0 97 107" class="play">
				            	<use class="poligon" xlink:href="#play"></use>
				            </svg>
							<img src="assets/video-2.jpg" alt="" class="placeholder">
						</div>
					</div>
				</div>
	 		</div>
 		</div>
 		<div class="more-row">
 			<span  class="show-more">
 				<span data-to="down"  data-expand="#trailers-items" class="ctx">
	 				<span id="open-trailers" class="text">Показать все трейлеры</span>
	 				<span class="icon down"></span>
 				</span>
 				<span data-to="up" data-expand="#trailers-items" class="ctx hide">
	 				<span class="text">Скрыть</span>
	 				<span class="icon up"></span>
 				</span>
 			</span>
 		</div>
	</div>
</div>