<div id="frames" class="section section--frames">
	<div class="container ">
 		<h2 class="section-title align--center">Кадры</h2>
 		<div data-c="2" id="frames-items" class="items overflow-items js-max-height-calculation">
	 		<div id="frames-carousel" class="frames must-be-carousel keycontrol sendanalytics" data-string="Dinosaur Still" data-plugin-options='{"items":1, "loop": true, "nav": true, "mouseDrag": false, "margin":0}' data-threshold="478">
				<div class="frames__item etalon">
					<div id="first-frame" class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="0"><img src="assets/Good-Dinosaur_Movie-still_3-prev.jpg" alt="" class="img--block img--full-width"></div>
				</div>
				<div class="frames__item">
					<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="1"><img src="assets/Good-Dinosaur_Movie-still_4-prev.jpg" alt="" class="img--block img--full-width"></div>
				</div>
				<div class="frames__item">
					<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="2"><img src="assets/Good-Dinosaur_Movie-still_5-prev.jpg" alt="" class="img--block img--full-width"></div>
				</div>
				<div class="frames__item">
					<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="3"><img src="assets/Good-Dinosaur_Movie-still_6-prev.jpg" alt="" class="img--block img--full-width"></div>
				</div>
				<div class="frames__item">
					<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="4"><img src="assets/Good-Dinosaur_Movie-still_7-prev.jpg" alt="" class="img--block img--full-width"></div>
				</div>
				<div class="frames__item">
					<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="5"><img src="assets/Good-Dinosaur_Movie-still_8-prev.jpg" alt="" class="img--block img--full-width"></div>
				</div>
				<div class="frames__item">
					<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="6"><img src="assets/Good-Dinosaur_Movie-still_9-prev.jpg" alt="" class="img--block img--full-width"></div>
				</div>
				<div class="frames__item">
					<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="7"><img src="assets/Good-Dinosaur_Movie-still_11-prev.jpg" alt="" class="img--block img--full-width"></div>
				</div>
				<div class="frames__item">
					<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="8"><img src="assets/Good-Dinosaur_Movie-still_12-prev.jpg" alt="" class="img--block img--full-width"></div>
				</div>
				<div class="frames__item">
					<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="9"><img src="assets/Good-Dinosaur_Movie-still_13-prev.jpg" alt="" class="img--block img--full-width"></div>
				</div>
	 		</div>
 		</div>
 		<div class="more-row">
 			<span class="show-more">
 				<span data-to="down" data-expand="#frames-items" class="ctx">
	 				<span class="text">Показать все кадры</span>
	 				<span class="icon down"></span>
 				</span>
 				<span data-to="up" data-expand="#frames-items" class="ctx hide">
	 				<span class="text">Скрыть</span>
	 				<span class="icon up"></span>
 				</span>
 			</span>
 		</div>
	</div>
</div>