<img src="images/about-ill.png" alt="О фильме" class="illustration visible-sm visible-md visible-lg">
<div class="container ">
	<div class="row">
		<div class="col-sm-9">
			<h2 class="section-title">О фильме</h2>
			<p>Студия, подарившая зрителям наиболее удивительных и необычных анимационных героев, приглашает совершить путешествие в самый захватывающий из миров! Представьте, что астероид, некогда навсегда изменивший жизнь на Земле, пролетел мимо нашей планеты и гигантские динозавры существуют по сей день - они далеко обогнали в развитии первобытных людей и создали собственную цивилизацию.</p>
			<p>Disney/Pixar представляет анимационное приключение «Хороший динозавр»: историю невероятной дружбы юного бронтозавра Арло и маленького мальчика по имени Дружок. Этим, на первый взгляд, непохожим героям предстоит вместе совершить опасное путешествие в далекие и таинственные края, научиться бороться со своими страхами и понять, что они не так уж и отличаются друг от друга.</p>
			<div class="from"><img src="images/fromopt.svg" alt="От создателей" class="img img--inline img--responsive"></div>
			<ul class="list">
				<li class="list__item">
					<span class="list__left">Жанр:</span>
					<span class="list__right">Анимация, приключения</span>
				</li>
				<li class="list__item">
					<span class="list__left">Режиссёр:</span>
					<span class="list__right">Питер Сон</span>
				</li>
				<li class="list__item">
					<span class="list__left">Сценарий:</span>
					<span class="list__right">Мэг ЛеФов</span>
				</li>
				<li class="list__item">
					<span class="list__left">Продюсеры:</span>
					<span class="list__right">Денис Рим, Джон Лассетер</span>
				</li>
				<li class="list__item">
					<span class="list__left">Композитор:</span>
					<span class="list__right">Джефф Дэнна, Майкл Дэнна</span>
				</li>
				<li class="list__item">
					<span class="list__left">Прокатный рейтинг: </span>
					<span class="list__right">12+</span>
				</li>
				<li class="list__item">
					<span class="list__left">Формат:</span>
					<span class="list__right">3D, 2D</span>
				</li>
			</ul>
			<div class="btn-row">
<!-- 				<a href="" id="pay-2" class="ticket-btn">
					<span class="text">купить билет</span>
					<span class="s s-1"></span>
					<span class="s s-2"></span>
					<span class="s s-3"></span>
				</a> -->
			</div>
		</div>
	</div>
</div>