<div id="index" class="section section--video align--center">
	<div class="view">
		<div id="closeYoutubeVideo" class="font-icon icon-close closeYoutubeVideo"></div>
	    <div class="video_container_wr">
	    	<div class="main-image"></div>
		    <div id="video_container">
			    <div id="wistia_1lpeaehiu8" class="wistia_embed"></div>
			    <div id="y-video" class="y-video">
			    	<div id="my-video-container"></div>
			    </div>
		    </div>
	    </div>
		<div class="container">
			<div class="text-container">
				<h1>
					<svg viewBox="0 0 708.662 340.158" class="movie-logo">
		            	<use xlink:href="#dino-logo"></use>
		            </svg>
					<div class="t">В кино с 26 ноября</div>
					<span class="d">в 3D</span>
				</h1>
				<div class="b">
					<button id="playBtn" class="play show">
						<span></span>
					</button>
				</div>
<!-- 				<a href="" id="pay-1" class="ticket-btn">
					<span class="text">купить билет</span>
					<span class="s s-1"></span>
					<span class="s s-2"></span>
					<span class="s s-3"></span>
				</a> -->
			</div>
		</div>
	</div>
</div>