<div id="concurs" class="section section--concurs">
	<div class="container relative align--center">
		<div class="t-img align--center"><img src="images/ctext.png" alt="" class="img--responsive img--inline"></div>
 		<div class="text">с 16 ноября по 6 декабря</div>
 		<a href="http://friendship.disney.ru" id="contest-an-send" class="btn">узнать больше</a>
	</div>
</div>