<div id="handmade" class="section section--handmade">
	<div class="container ">
 		<h2 class="section-title align--center">Поделки</h2>
 		<div id="handmades" data-c="1.4" class="items-wrapper handmade-items">
 			<div class="before"></div>
 			<div class="after"></div>
	 		<div class="carousel carousel-handmade keycontrol" data-plugin-options='{"items":5, "loop": true, "nav": true, "mouseDrag": false, "margin":20}' data-destroy="490" data-responsive-options='{"0": {"items": 1}, "480": {"items": 4}, "768": {"items": 4}, "992": {"items": 4}, "1024": {"items": 5}}'>
	 			<div class="item etalon">
	 				<a class="a touchend_link handmade-send" target="_blank" data-index="1" href="assets/handmade/good-dino_spot_the_differences-rus.pdf"><img src="assets/handmade/1.jpg" alt="" class="img--responsive img--block"></a>
	 			</div>
	 			<div class="item">
	 				<a class="a touchend_link handmade-send" target="_blank" data-index="2" href="assets/handmade/good-dino_arlos_maze.pdf"><img src="assets/handmade/2.jpg" alt="" class="img--responsive img--block"></a>
	 			</div>
	 			<div class="item">
	 				<a class="a touchend_link handmade-send" target="_blank" data-index="3" href="assets/handmade/TGD-hexaflexagon_ru.pdf"><img src="assets/handmade/3.jpg" alt="" class="img--responsive img--block"></a>
	 			</div>
	 			<div class="item">
	 				<a class="a touchend_link handmade-send" target="_blank" data-index="4" href="assets/handmade/TGD_memory-cards_ru.pdf"><img src="assets/handmade/4.jpg" alt="" class="img--responsive img--block"></a>
	 			</div>
	 			<div class="item">
	 				<a class="a touchend_link handmade-send" target="_blank" data-index="5" href="assets/handmade/TGD_coloring_pages_ru.pdf"><img src="assets/handmade/5.jpg" alt="" class="img--responsive img--block"></a>
	 			</div>
	 		</div>
 		</div>
 		<div class="more-row">
 			<span  class="show-more">
 				<span data-to="down" data-expand="#handmades" class="ctx">
	 				<span class="text">Показать все поделки</span>
	 				<span class="icon down"></span>
 				</span>
 				<span data-to="up" data-expand="#handmades" class="ctx hide">
	 				<span class="text">Скрыть</span>
	 				<span class="icon up"></span>
 				</span>
 			</span>
 		</div>
	</div>
</div>